In [18]:
from tradier import *


sp500 = pd.read_csv('https://raw.githubusercontent.com/datasets/s-and-p-500-companies/main/data/constituents.csv');


sp500 = sp500.sample(15);

sp500_symbols = list(sp500['Symbol']);

df = pd.DataFrame({'symbol':[], 'profitable':[], 'volume_change':[]});

for s in sp500_symbols:
    bar_data = quotes.get_historical_quotes(s, interval='monthly', start_date='2022-10-01');
    bar_data['price_change'] = bar_data['close'] - bar_data['open'];
    bar_data['profitable'] = (bar_data['close']-bar_data['open'] > 0).astype(int);
    bar_data['volume_change'] = bar_data['volume'].diff();
    bar_data['symbol'] = s;
    df = df.append(bar_data[['symbol', 'profitable', 'volume_change']]);

          date   open    high     low  close     volume  price_change  \
0   2022-10-01  12.17  14.470  12.020  14.27  315167560          2.10
1   2022-11-01  14.40  16.860  13.570  16.78  298111720          2.38
2   2022-12-01  16.39  16.930  15.375  15.96  272145690         -0.43
3   2023-01-01  16.09  17.250  15.640  16.13  287730910          0.04
4   2023-02-01  16.12  16.730  15.455  15.61  238511180         -0.51
5   2023-03-01  15.66  16.050  13.660  15.93  333868470          0.27
6   2023-04-01  15.90  16.400  13.960  14.32  191258620         -1.58
7   2023-05-01  14.39  15.735  13.655  14.42  297780240          0.03
8   2023-06-01  14.50  17.740  14.430  16.80  312164840          2.30
9   2023-07-01  16.73  17.740  16.420  17.38  197561150          0.65
10  2023-08-01  17.41  18.135  16.200  16.99  271888900         -0.42
11  2023-09-01  17.21  18.095  16.725  17.37  212161690          0.16

    profitable  volume_change symbol
0            1            NaN    HPE
1            1    -17055840.0    HPE
2            0    -25966030.0    HPE
3            1     15585220.0    HPE
4            0    -49219730.0    HPE
5            1     95357290.0    HPE
6            0   -142609850.0    HPE
7            1    106521620.0    HPE
8            1     14384600.0    HPE
9            1   -114603690.0    HPE
10           0     74327750.0    HPE
11           1    -59727210.0    HPE

/var/folders/s4/hzmf21cd0px0c1hfdy8d1zl80000gp/T/ipykernel_4714/2834701961.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(bar_data[['symbol', 'profitable', 'volume_change']]);

          date   open    high     low  close     volume  price_change  \
0   2022-10-01  54.25  58.230  53.570  54.35   88276268          0.10
1   2022-11-01  54.69  56.730  49.830  56.24   94361353          1.55
2   2022-12-01  56.50  56.920  49.000  50.97  104880936         -5.53
3   2023-01-01  50.40  53.120  43.250  45.69  128056115         -4.71
4   2023-02-01  45.89  47.230  38.580  39.95  139859520         -5.94
5   2023-03-01  39.65  41.110  37.345  40.56  135047880          0.91
6   2023-04-01  40.83  47.965  39.665  47.68  128009285          6.85
7   2023-05-01  47.59  48.230  39.920  40.43  115772129         -7.16
8   2023-06-01  40.57  45.750  40.220  45.56   97692787          4.99
9   2023-07-01  45.31  50.210  44.250  45.23  113226345         -0.08
10  2023-08-01  45.30  45.480  40.580  40.60   78436943         -4.70
11  2023-09-01  40.88  41.047  37.050  37.74   78464432         -3.14

    profitable  volume_change symbol
0            1            NaN    BAX
1            1      6085085.0    BAX
2            0     10519583.0    BAX
3            0     23175179.0    BAX
4            0     11803405.0    BAX
5            1     -4811640.0    BAX
6            1     -7038595.0    BAX
7            0    -12237156.0    BAX
8            1    -18079342.0    BAX
9            0     15533558.0    BAX
10           0    -34789402.0    BAX
11           0        27489.0    BAX
          date   open    high     low  close     volume  price_change  \
0   2022-10-01  16.28  18.110  15.255  17.87  276843110          1.59
1   2022-11-01  18.03  20.035  17.330  18.81  220537080          0.78
2   2022-12-01  18.87  18.990  16.430  17.42  210869530         -1.45
3   2023-01-01  17.63  19.200  16.335  19.19  256555720          1.56
4   2023-02-01  18.98  20.300  17.790  18.29  208720640         -0.69
5   2023-03-01  18.29  18.560   9.605  12.52  787038450         -5.77
6   2023-04-01  12.54  12.670  10.335  11.26  489923030         -1.28
7   2023-05-01  11.21  11.340   8.535   9.34  548147220         -1.87
8   2023-06-01   9.53  11.100   9.190   9.24  399560770         -0.29
9   2023-07-01   9.29  13.040   9.100  12.31  453986520          3.02
10  2023-08-01  12.22  12.300  10.350  11.33  292939640         -0.89
11  2023-09-01  11.42  11.955  10.200  10.76  273954480         -0.66

    profitable  volume_change symbol
0            1            NaN    KEY
1            1    -56306030.0    KEY
2            0     -9667550.0    KEY
3            1     45686190.0    KEY
4            0    -47835080.0    KEY
5            0    578317810.0    KEY
6            0   -297115420.0    KEY
7            0     58224190.0    KEY
8            0   -148586450.0    KEY
9            1     54425750.0    KEY
10           0   -161046880.0    KEY
11           0    -18985160.0    KEY

/var/folders/s4/hzmf21cd0px0c1hfdy8d1zl80000gp/T/ipykernel_4714/2834701961.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(bar_data[['symbol', 'profitable', 'volume_change']]);
/var/folders/s4/hzmf21cd0px0c1hfdy8d1zl80000gp/T/ipykernel_4714/2834701961.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(bar_data[['symbol', 'profitable', 'volume_change']]);

          date   open     high     low  close     volume  price_change  \
0   2022-10-01  63.30  78.8200  62.920  77.35  205717250         14.05
1   2022-11-01  78.69  78.7700  65.020  68.52  243285850        -10.17
2   2022-12-01  69.55  70.4200  58.560  61.51  190546810         -8.04
3   2023-01-01  60.73  66.9550  56.410  63.24  146486870          2.51
4   2023-02-01  62.56  64.4042  52.450  53.92  241826540         -8.64
5   2023-03-01  53.82  57.1300  44.030  50.61  255327640         -3.21
6   2023-04-01  53.41  56.1900  51.400  53.43  138423640          0.02
7   2023-05-01  52.69  53.7400  45.885  46.10  186856620         -6.59
8   2023-06-01  46.31  51.4100  45.980  48.34  185303280          2.03
9   2023-07-01  48.35  54.2175  46.700  54.00  151619360          5.65
10  2023-08-01  53.66  53.9400  48.451  51.09  175100540         -2.57
11  2023-09-01  51.92  54.4700  46.110  47.70  197323890         -4.22

    profitable  volume_change symbol
0            1            NaN    DVN
1            0     37568600.0    DVN
2            0    -52739040.0    DVN
3            1    -44059940.0    DVN
4            0     95339670.0    DVN
5            0     13501100.0    DVN
6            1   -116904000.0    DVN
7            0     48432980.0    DVN
8            1     -1553340.0    DVN
9            1    -33683920.0    DVN
10           0     23481180.0    DVN
11           0     22223350.0    DVN
          date     open      high       low   close      volume  price_change  \
0   2022-10-01  137.140  142.3901   92.6000   93.16  1114165580       -43.980
1   2022-11-01   94.330  118.7400   88.0900  118.10  1063814420        23.770
2   2022-12-01  119.198  124.6700  112.4600  120.34   653019660         1.142
3   2023-01-01  122.820  153.1900  122.2800  148.97   548770810        26.150
4   2023-02-01  148.030  197.1600  147.0600  174.94   772199860        26.910
5   2023-03-01  174.590  212.1700  171.4300  211.94   690450690        37.350
6   2023-04-01  208.840  241.6850  207.1300  240.32   446687870        31.480
7   2023-05-01  238.615  268.6500  229.8500  264.72   487171510        26.105
8   2023-06-01  265.900  289.7900  258.8800  286.98   481179600        21.080
9   2023-07-01  286.700  326.2000  284.8499  318.60   625339460        31.900
10  2023-08-01  317.535  324.1400  274.3800  295.89   424632810       -21.645
11  2023-09-01  299.370  312.8700  286.7900  300.21   387314930         0.840

    profitable  volume_change symbol
0            0            NaN   META
1            1    -50351160.0   META
2            1   -410794760.0   META
3            1   -104248850.0   META
4            1    223429050.0   META
5            1    -81749170.0   META
6            1   -243762820.0   META
7            1     40483640.0   META
8            1     -5991910.0   META
9            1    144159860.0   META
10           0   -200706650.0   META
11           1    -37317880.0   META

/var/folders/s4/hzmf21cd0px0c1hfdy8d1zl80000gp/T/ipykernel_4714/2834701961.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(bar_data[['symbol', 'profitable', 'volume_change']]);
/var/folders/s4/hzmf21cd0px0c1hfdy8d1zl80000gp/T/ipykernel_4714/2834701961.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(bar_data[['symbol', 'profitable', 'volume_change']]);

          date    open    high     low   close    volume  price_change  \
0   2022-10-01  161.62  169.26  151.22  158.37  38422796         -3.25
1   2022-11-01  159.05  167.72  153.87  167.07  36576449          8.02
2   2022-12-01  168.65  170.70  154.43  156.88  31765919        -11.77
3   2023-01-01  157.41  161.72  149.12  154.73  33028660         -2.68
4   2023-02-01  150.10  155.66  148.55  149.76  36162143         -0.34
5   2023-03-01  149.44  163.43  148.31  163.17  45673612         13.73
6   2023-04-01  162.81  167.46  157.90  166.05  33967185          3.24
7   2023-05-01  165.81  171.10  160.22  161.22  29901031         -4.59
8   2023-06-01  161.81  173.71  160.26  173.42  29169065         11.61
9   2023-07-01  172.23  173.20  161.74  163.79  31272464         -8.44
10  2023-08-01  164.24  166.34  156.38  156.78  28493214         -7.46
11  2023-09-01  157.42  161.95  152.11  152.44  28375838         -4.98

    profitable  volume_change symbol
0            0            NaN     WM
1            1     -1846347.0     WM
2            0     -4810530.0     WM
3            0      1262741.0     WM
4            0      3133483.0     WM
5            1      9511469.0     WM
6            1    -11706427.0     WM
7            0     -4066154.0     WM
8            1      -731966.0     WM
9            0      2103399.0     WM
10           0     -2779250.0     WM
11           0      -117376.0     WM
          date     open     high      low   close    volume  price_change  \
0   2022-10-01  365.860  389.590  303.550  350.00   8158509       -15.860
1   2022-11-01  358.840  376.980  298.670  368.58   9179252         9.740
2   2022-12-01  368.360  373.280  313.860  327.74   6504309       -40.620
3   2023-01-01  334.780  371.100  301.370  332.65   6909727        -2.130
4   2023-02-01  333.800  385.960  301.840  307.65   9642343       -26.150
5   2023-03-01  306.990  315.320  269.725  299.00  11260595        -7.990
6   2023-04-01  294.930  304.330  271.040  282.44   7528698       -12.490
7   2023-05-01  278.320  280.000  223.650  256.62  15948468       -21.700
8   2023-06-01  255.080  263.180  197.990  224.75  18927092       -30.330
9   2023-07-01  224.975  255.185  224.545  236.81   9136997        11.835
10  2023-08-01  234.610  259.660  230.290  258.99  10284299        24.380
11  2023-09-01  260.660  270.757  251.350  255.69   8638462        -4.970

    profitable  volume_change symbol
0            0            NaN   EPAM
1            1      1020743.0   EPAM
2            0     -2674943.0   EPAM
3            0       405418.0   EPAM
4            0      2732616.0   EPAM
5            0      1618252.0   EPAM
6            0     -3731897.0   EPAM
7            0      8419770.0   EPAM
8            0      2978624.0   EPAM
9            1     -9790095.0   EPAM
10           1      1147302.0   EPAM
11           0     -1645837.0   EPAM

/var/folders/s4/hzmf21cd0px0c1hfdy8d1zl80000gp/T/ipykernel_4714/2834701961.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(bar_data[['symbol', 'profitable', 'volume_change']]);
/var/folders/s4/hzmf21cd0px0c1hfdy8d1zl80000gp/T/ipykernel_4714/2834701961.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(bar_data[['symbol', 'profitable', 'volume_change']]);

          date   open    high     low  close     volume  price_change  \
0   2022-10-01  25.34  28.120  24.075  27.62  163862960          2.28
1   2022-11-01  27.94  31.085  26.200  30.04  197482210          2.10
2   2022-12-01  30.11  30.230  26.085  26.87  136582730         -3.24
3   2023-01-01  27.00  29.540  26.575  29.14  111652838          2.14
4   2023-02-01  29.04  31.020  28.900  29.52  108652149          0.48
5   2023-03-01  29.96  29.970  26.930  29.35  170154880         -0.61
6   2023-04-01  29.34  31.470  28.720  29.71  110473474          0.37
7   2023-05-01  29.86  31.710  28.530  29.06  157692970         -0.80
8   2023-06-01  29.27  31.380  28.810  30.71  195469540          1.44
9   2023-07-01  30.70  33.900  30.240  32.83  105807564          2.13
10  2023-08-01  32.57  33.245  27.850  29.71  140138110         -2.86
11  2023-09-01  29.95  30.665  25.220  25.70  186606550         -4.25

    profitable  volume_change symbol
0            1            NaN    HPQ
1            1     33619250.0    HPQ
2            0    -60899480.0    HPQ
3            1    -24929892.0    HPQ
4            1     -3000689.0    HPQ
5            0     61502731.0    HPQ
6            1    -59681406.0    HPQ
7            0     47219496.0    HPQ
8            1     37776570.0    HPQ
9            1    -89661976.0    HPQ
10           0     34330546.0    HPQ
11           0     46468440.0    HPQ
          date   open     high      low  close     volume  price_change  \
0   2022-10-01  72.11  76.4400  64.1100  70.50   38004200         -1.61
1   2022-11-01  71.40  75.5000  65.6400  71.74   30336111          0.34
2   2022-12-01  72.42  72.9200  62.8300  66.85   31115015         -5.57
3   2023-01-01  67.25  73.4000  65.2250  73.31   30793389          6.06
4   2023-02-01  72.52  77.3400  68.3800  70.10   28010893         -2.42
5   2023-03-01  70.00  71.1400  29.1700  43.42  144388010        -26.58
6   2023-04-01  43.57  47.5299  38.1600  43.37   68146352         -0.20
7   2023-05-01  43.42  44.3800  28.4000  36.10  122324716         -7.32
8   2023-06-01  36.68  44.2200  35.4558  42.36   66706628          5.68
9   2023-07-01  42.75  55.8300  41.1300  53.96   59784626         11.21
10  2023-08-01  53.58  54.0500  44.6000  48.11   35553999         -5.47
11  2023-09-01  48.84  49.2500  39.3400  41.55   45159824         -7.29

    profitable  volume_change symbol
0            0            NaN    CMA
1            1     -7668089.0    CMA
2            0       778904.0    CMA
3            1      -321626.0    CMA
4            0     -2782496.0    CMA
5            0    116377117.0    CMA
6            0    -76241658.0    CMA
7            0     54178364.0    CMA
8            1    -55618088.0    CMA
9            1     -6922002.0    CMA
10           0    -24230627.0    CMA
11           0      9605825.0    CMA

/var/folders/s4/hzmf21cd0px0c1hfdy8d1zl80000gp/T/ipykernel_4714/2834701961.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(bar_data[['symbol', 'profitable', 'volume_change']]);
/var/folders/s4/hzmf21cd0px0c1hfdy8d1zl80000gp/T/ipykernel_4714/2834701961.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(bar_data[['symbol', 'profitable', 'volume_change']]);

          date   open    high     low  close    volume  price_change  \
0   2022-10-01  66.79  77.195  66.050  75.90  63614701          9.11
1   2022-11-01  75.99  81.570  73.080  80.17  70337478          4.18
2   2022-12-01  80.30  81.480  76.030  76.87  59035877         -3.43
3   2023-01-01  76.46  79.110  73.860  77.25  50515352          0.79
4   2023-02-01  77.00  80.440  74.590  75.71  53675157         -1.29
5   2023-03-01  75.45  76.130  68.530  75.50  56631887          0.05
6   2023-04-01  75.79  82.440  75.490  82.10  36356460          6.31
7   2023-05-01  82.18  87.025  77.560  82.30  48146451          0.12
8   2023-06-01  82.84  95.100  82.750  94.57  56976791         11.73
9   2023-07-01  93.83  94.800  90.920  91.47  38077275         -2.36
10  2023-08-01  91.31  95.450  85.115  87.33  58075745         -3.98
11  2023-09-01  87.61  89.919  86.560  86.82  37865238         -0.79

    profitable  volume_change symbol
0            1            NaN    CAH
1            1      6722777.0    CAH
2            0    -11301601.0    CAH
3            1     -8520525.0    CAH
4            0      3159805.0    CAH
5            1      2956730.0    CAH
6            1    -20275427.0    CAH
7            1     11789991.0    CAH
8            1      8830340.0    CAH
9            0    -18899516.0    CAH
10           0     19998470.0    CAH
11           0    -20210507.0    CAH
          date   open    high     low   close    volume  price_change  \
0   2022-10-01  79.39  81.810  70.540  76.280  38683308        -3.110
1   2022-11-01  76.76  82.930  73.680  82.860  34629626         6.100
2   2022-12-01  83.80  87.710  81.700  83.840  30816257         0.040
3   2023-01-01  84.51  86.840  77.390  82.330  29659703        -2.180
4   2023-02-01  81.90  84.000  75.310  74.685  31809497        -7.215
5   2023-03-01  74.02  78.480  72.460  78.260  49774683         4.240
6   2023-04-01  77.55  81.360  76.725  77.610  29312219         0.060
7   2023-05-01  77.49  78.635  67.790  69.230  44620520        -8.260
8   2023-06-01  69.44  72.340  68.050  70.920  46061809         1.480
9   2023-07-01  70.55  74.810  69.700  72.330  40846888         1.780
10  2023-08-01  71.96  72.330  63.300  63.820  44961308        -8.140
11  2023-09-01  64.31  64.840  57.215  58.150  50066093        -6.160

    profitable  volume_change symbol
0            0            NaN     ES
1            1     -4053682.0     ES
2            1     -3813369.0     ES
3            0     -1156554.0     ES
4            0      2149794.0     ES
5            1     17965186.0     ES
6            1    -20462464.0     ES
7            0     15308301.0     ES
8            1      1441289.0     ES
9            1     -5214921.0     ES
10           0      4114420.0     ES
11           0      5104785.0     ES

/var/folders/s4/hzmf21cd0px0c1hfdy8d1zl80000gp/T/ipykernel_4714/2834701961.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(bar_data[['symbol', 'profitable', 'volume_change']]);
/var/folders/s4/hzmf21cd0px0c1hfdy8d1zl80000gp/T/ipykernel_4714/2834701961.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(bar_data[['symbol', 'profitable', 'volume_change']]);

          date    open     high      low   close    volume  price_change  \
0   2022-10-01  211.41  231.130  203.650  228.07  34065522         16.66
1   2022-11-01  230.20  257.350  221.020  256.50  25594685         26.30
2   2022-12-01  258.35  261.710  236.930  246.42  24119144        -11.93
3   2023-01-01  247.11  260.200  235.420  245.81  27238676         -1.30
4   2023-02-01  244.27  255.900  220.030  224.82  36874645        -19.45
5   2023-03-01  224.16  229.770  196.330  212.00  37138388        -12.16
6   2023-04-01  210.69  215.180  197.830  203.03  33047365         -7.66
7   2023-05-01  203.17  223.990  199.490  208.18  32574413          5.01
8   2023-06-01  209.55  227.590  208.925  226.76  23027483         17.21
9   2023-07-01  225.06  239.000  224.240  233.59  23461251          8.53
10  2023-08-01  233.23  235.554  204.890  205.01  25859109        -28.22
11  2023-09-01  206.08  208.640  194.050  196.93  24212768         -9.15

    profitable  volume_change symbol
0            1            NaN    NSC
1            1     -8470837.0    NSC
2            0     -1475541.0    NSC
3            0      3119532.0    NSC
4            0      9635969.0    NSC
5            0       263743.0    NSC
6            0     -4091023.0    NSC
7            1      -472952.0    NSC
8            1     -9546930.0    NSC
9            1       433768.0    NSC
10           0      2397858.0    NSC
11           0     -1646341.0    NSC
          date    open     high       low   close    volume  price_change  \
0   2022-10-01  183.42  215.500  181.2300  214.89  33700724         31.47
1   2022-11-01  215.45  220.000  203.2900  219.59  35976616          4.14
2   2022-12-01  222.00  223.050  209.0300  220.60  34587528         -1.40
3   2023-01-01  220.00  231.370  202.6700  227.49  31949257          7.49
4   2023-02-01  217.61  220.975  201.7300  211.02  39069677         -6.59
5   2023-03-01  210.01  211.610  183.3950  194.18  46992431        -15.83
6   2023-04-01  194.45  205.720  193.6400  201.56  29717765          7.11
7   2023-05-01  201.25  204.080  185.6100  185.80  37214587        -15.45
8   2023-06-01  187.13  195.845  183.7100  192.56  43222567          5.43
9   2023-07-01  191.87  211.980  186.5229  204.41  38444221         12.54
10  2023-08-01  205.19  207.300  198.1000  200.87  33085121         -4.32
11  2023-09-01  202.56  216.095  198.6700  208.18  33463259          5.62

    profitable  volume_change symbol
0            1            NaN     CB
1            1      2275892.0     CB
2            0     -1389088.0     CB
3            1     -2638271.0     CB
4            0      7120420.0     CB
5            0      7922754.0     CB
6            1    -17274666.0     CB
7            0      7496822.0     CB
8            1      6007980.0     CB
9            1     -4778346.0     CB
10           0     -5359100.0     CB
11           1       378138.0     CB

/var/folders/s4/hzmf21cd0px0c1hfdy8d1zl80000gp/T/ipykernel_4714/2834701961.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(bar_data[['symbol', 'profitable', 'volume_change']]);
/var/folders/s4/hzmf21cd0px0c1hfdy8d1zl80000gp/T/ipykernel_4714/2834701961.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(bar_data[['symbol', 'profitable', 'volume_change']]);

          date    open      high       low   close    volume  price_change  \
0   2022-10-01  149.28  155.6300  141.8700  150.78  39664930          1.50
1   2022-11-01  151.40  154.9100  124.1483  154.14  62047515          2.74
2   2022-12-01  156.00  158.4800  140.7600  146.55  44243242         -9.45
3   2023-01-01  148.66  177.3900  141.5200  165.49  48325142         16.83
4   2023-02-01  165.45  176.6600  157.8700  167.00  41340953          1.55
5   2023-03-01  165.96  171.9750  159.3900  166.44  45016313          0.48
6   2023-04-01  166.79  177.4400  164.2000  175.78  26892160          8.99
7   2023-05-01  175.72  187.8199  158.6500  163.01  50323709        -12.71
8   2023-06-01  162.90  174.6750  161.6100  172.21  42693509          9.31
9   2023-07-01  170.53  194.9900  166.0000  188.09  39788372         17.56
10  2023-08-01  187.46  194.3653  177.2500  190.51  40337170          3.05
11  2023-09-01  192.97  193.3500  172.7901  173.98  31009784        -18.99

    profitable  volume_change symbol
0            1            NaN    ZTS
1            1     22382585.0    ZTS
2            0    -17804273.0    ZTS
3            1      4081900.0    ZTS
4            1     -6984189.0    ZTS
5            1      3675360.0    ZTS
6            1    -18124153.0    ZTS
7            0     23431549.0    ZTS
8            1     -7630200.0    ZTS
9            1     -2905137.0    ZTS
10           1       548798.0    ZTS
11           0     -9327386.0    ZTS
          date    open     high     low   close    volume  price_change  \
0   2022-10-01  512.81  548.925  478.31  513.97  37462509          1.16
1   2022-11-01  516.54  561.980  475.77  560.22  32915278         43.68
2   2022-12-01  567.65  584.710  520.01  550.69  26882264        -16.96
3   2023-01-01  553.29  609.850  522.78  570.33  37400225         17.04
4   2023-02-01  586.09  597.540  538.89  541.76  23800807        -44.33
5   2023-03-01  539.34  576.680  531.92  576.37  27145720         37.03
6   2023-04-01  569.51  593.170  517.22  554.90  26570204        -14.61
7   2023-05-01  555.99  558.200  498.50  508.46  35305746        -47.53
8   2023-06-01  513.13  542.075  503.31  521.75  36751580          8.62
9   2023-07-01  519.34  580.090  509.02  548.66  35158964         29.32
10  2023-08-01  546.53  563.690  526.35  557.10  24805860         10.57
11  2023-09-01  563.45  565.860  494.92  506.17  31690582        -57.28

    profitable  volume_change symbol
0            1            NaN    TMO
1            1     -4547231.0    TMO
2            0     -6033014.0    TMO
3            1     10517961.0    TMO
4            0    -13599418.0    TMO
5            1      3344913.0    TMO
6            0      -575516.0    TMO
7            0      8735542.0    TMO
8            1      1445834.0    TMO
9            1     -1592616.0    TMO
10           1    -10353104.0    TMO
11           0      6884722.0    TMO

/var/folders/s4/hzmf21cd0px0c1hfdy8d1zl80000gp/T/ipykernel_4714/2834701961.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(bar_data[['symbol', 'profitable', 'volume_change']]);
/var/folders/s4/hzmf21cd0px0c1hfdy8d1zl80000gp/T/ipykernel_4714/2834701961.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(bar_data[['symbol', 'profitable', 'volume_change']]);

In [15]:
print(df)

    profitable  volume_change
0          1.0            NaN
1          0.0     95255470.0
2          0.0     -2517960.0
3          1.0    -73573670.0
4          1.0     21788820.0
..         ...            ...
7          0.0     62138820.0
8          0.0    -24863040.0
9          0.0     12317300.0
10         0.0     74021460.0
11         0.0    -23793730.0

[1198 rows x 2 columns]

In [5]:
sp500.head()

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989

In [24]:
a_data

          date   open    high      low  close    volume
0   2022-10-01  47.39  53.230  46.4100  52.91  46783210
1   2022-11-01  52.85  53.730  47.5600  53.67  48293872
2   2022-12-01  53.63  57.775  52.5450  56.75  59537087
3   2023-01-01  56.43  57.240  50.4500  51.93  50402985
4   2023-02-01  51.73  54.185  49.8500  52.52  44139258
5   2023-03-01  52.24  55.240  51.3800  54.98  56501135
6   2023-04-01  55.22  56.040  53.2000  54.30  34642352
7   2023-05-01  54.47  55.045  50.3250  50.55  50576620
8   2023-06-01  50.77  52.120  44.7600  45.71  69756234
9   2023-07-01  45.60  46.630  44.7821  45.82  43558607
10  2023-08-01  45.97  46.645  41.5615  41.70  58108634
11  2023-09-01  41.82  43.750  40.7550  41.08  69188135

In [25]:
b_data

          date    open     high     low   close    volume
0   2022-10-01  205.38  231.280  203.23  229.24  30599742
1   2022-11-01  214.55  233.932  205.43  233.89  33215605
2   2022-12-01  235.66  258.680  233.96  244.49  26818542
3   2023-01-01  247.27  264.980  243.79  253.81  27220927
4   2023-02-01  269.62  284.000  257.37  262.88  27033513
5   2023-03-01  261.56  285.680  257.66  285.47  29045502
6   2023-04-01  284.35  306.560  280.14  299.65  22621419
7   2023-05-01  299.60  301.460  267.76  275.58  30395889
8   2023-06-01  275.15  306.930  272.49  305.09  27107423
9   2023-07-01  302.94  304.900  280.87  283.41  25599597
10  2023-08-01  280.09  292.500  271.86  283.55  27630307
11  2023-09-01  285.47  301.580  263.15  273.27  27783429

In [11]:
df.head()

   profitable  volume_change
0           1            NaN
1           0     -4890784.0
2           1      1082490.0
3           0      6162775.0
4           1     -3417298.0

In [12]:
#
# Create dataframe containing the last 12 months' bar data for each of the s&p500 companies
#

sp_data = pd.DataFrame();

for x in sp500['Symbol']:
    bar_data = quotes.get_historical_quotes(x, interval='monthly', start_date='2022-10-01');
    print(bar_data); print("\n\n");
    sp_data.append(bar_data);

          date    open     high     low   close    volume
0   2022-10-01   94.46   97.330  83.760   93.18  76194712
1   2022-11-01   93.57  100.420  90.355   99.93  70508957
2   2022-12-01  100.84  105.520  98.500  102.99  63503758
3   2023-01-01  103.20  106.430  99.160  102.45  54326800
4   2023-02-01  101.75  103.830  94.180   94.26  54975798
5   2023-03-01   94.02   98.650  91.370   96.47  76819096
6   2023-04-01   95.11  100.390  94.490   98.88  53777450
7   2023-05-01   98.85  100.130  87.520   89.29  64402848
8   2023-06-01   89.70   92.970  87.200   89.74  66063651
9   2023-07-01   89.73   96.410  88.565   93.62  48943794
10  2023-08-01   93.58   93.985  88.720   88.80  64567294
11  2023-09-01   89.25   96.080  86.035   88.26  77047241



          date    open     high       low   close    volume
0   2022-10-01  187.83  219.620  182.3000  214.30  28424684
1   2022-11-01  216.71  233.689  188.0100  201.95  45082094
2   2022-12-01  202.37  211.830  181.5900  186.87  28201256
3   2023-01-01  190.62  215.550  179.6100  215.16  23640389
4   2023-02-01  213.89  232.150  191.4400  198.69  29513637
5   2023-03-01  199.48  211.510  191.0400  208.16  35381311
6   2023-04-01  205.09  210.890  188.3800  194.79  23720918
7   2023-05-01  194.79  205.000  189.5400  199.39  32303468
8   2023-06-01  199.21  223.640  197.0461  204.61  33694327
9   2023-07-01  203.00  222.630  197.5178  211.99  30263716
10  2023-08-01  211.17  224.260  195.2850  221.94  31431606
11  2023-09-01  224.07  224.130  200.0900  206.91  24198428

/var/folders/s4/hzmf21cd0px0c1hfdy8d1zl80000gp/T/ipykernel_1920/3264532772.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sp_data.append(bar_data);
/var/folders/s4/hzmf21cd0px0c1hfdy8d1zl80000gp/T/ipykernel_1920/3264532772.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sp_data.append(bar_data);

          date    open    high       low   close    volume
0   2022-10-01  295.87  312.77  280.8300  309.75  17836606
1   2022-11-01  310.99  311.73  270.7300  297.96  20718680
2   2022-12-01  300.06  307.54  276.7750  280.19  17322528
3   2023-01-01  281.08  305.74  270.1300  304.34  17487995
4   2023-02-01  302.94  315.88  289.3950  298.95  23938787
5   2023-03-01  295.94  306.85  279.3200  302.14  23399668
6   2023-04-01  306.89  316.48  285.3900  294.83  23534816
7   2023-05-01  293.72  301.55  279.8700  283.30  19320719
8   2023-06-01  283.49  293.95  279.0778  291.88  20433581
9   2023-07-01  290.93  302.72  280.0300  281.75  14178313
10  2023-08-01  282.52  288.78  269.4853  276.38  19316213
11  2023-09-01  277.98  278.72  260.8900  263.52  14929388



          date    open     high      low   close    volume
0   2022-10-01  157.67  160.700  141.130  157.45  19522291
1   2022-11-01  158.84  164.940  149.230  164.88  11977230
2   2022-12-01  166.18  168.725  152.530  156.99  12679498
3   2023-01-01  157.42  167.050  152.160  166.72  14242197
4   2023-02-01  165.48  176.360  160.030  160.10  15182953
5   2023-03-01  158.99  161.570  138.680  151.04  18775958
6   2023-04-01  150.40  154.610  145.380  153.80  13075114
7   2023-05-01  153.93  155.040  143.720  147.06  12673042
8   2023-06-01  147.30  156.470  145.175  151.86  12692938
9   2023-07-01  151.26  158.460  147.770  149.66  11635340
10  2023-08-01  149.00  150.110  140.650  145.23  11779483
11  2023-09-01  145.90  146.180  127.930  128.65  12902166

/var/folders/s4/hzmf21cd0px0c1hfdy8d1zl80000gp/T/ipykernel_1920/3264532772.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sp_data.append(bar_data);
/var/folders/s4/hzmf21cd0px0c1hfdy8d1zl80000gp/T/ipykernel_1920/3264532772.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sp_data.append(bar_data);

          date     open     high      low   close      volume
0   2022-10-01  164.290  175.390  159.170  173.97   139409660
1   2022-11-01  174.060  178.120  166.820  178.00   138345400
2   2022-12-01  179.000  181.039  174.070  176.65   129804586
3   2023-01-01  176.160  180.930  161.050  163.42   160523980
4   2023-02-01  162.990  166.340  153.040  153.26   164788110
5   2023-03-01  153.010  156.250  150.110  155.00   185727780
6   2023-04-01  154.950  167.230  153.940  163.70   146071400
7   2023-05-01  163.600  166.180  153.320  155.06   132116909
8   2023-06-01  154.540  166.270  153.150  165.52   146420470
9   2023-07-01  164.340  175.360  157.330  167.53   201433480
10  2023-08-01  166.365  175.970  161.279  161.68  1084597710
11  2023-09-01  161.420  165.270  155.255  155.75   147239310



          date    open    high    low   close    volume
0   2022-10-01   83.02   99.90  69.00   73.01  20192930
1   2022-11-01   73.04   73.99  65.28   73.73  19309511
2   2022-12-01   74.35   76.63  70.80   74.67  13682277
3   2023-01-01   74.94   82.41  74.12   82.39  11993125
4   2023-02-01   82.39   87.03  79.82   82.26  14120062
5   2023-03-01   81.58   82.44  73.20   81.11  15577640
6   2023-04-01   81.70   90.57  80.94   90.36   9817422
7   2023-05-01   90.16  103.00  86.27   93.67  17348240
8   2023-06-01   93.90  100.97  92.64  100.47  12172652
9   2023-07-01  100.10  106.96  99.36  101.99  11189208
10  2023-08-01  101.91  116.97  99.71  102.42  15962583
11  2023-09-01  102.80  104.16  94.16   94.53  16671967

/var/folders/s4/hzmf21cd0px0c1hfdy8d1zl80000gp/T/ipykernel_1920/3264532772.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sp_data.append(bar_data);
/var/folders/s4/hzmf21cd0px0c1hfdy8d1zl80000gp/T/ipykernel_1920/3264532772.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sp_data.append(bar_data);

          date    open    high       low   close     volume
0   2022-10-01  242.00  261.59  233.5085  255.05   34927869
1   2022-11-01  255.00  260.07  242.0400  255.68   33320555
2   2022-12-01  239.66  250.86  230.3300  246.25   50167461
3   2023-01-01  247.70  251.00  220.0461  233.60   43055193
4   2023-02-01  232.60  237.14  212.6900  216.30   35124592
5   2023-03-01  214.33  222.21  201.3100  210.46   49424483
6   2023-04-01  211.42  222.99  209.2800  221.46   30697986
7   2023-05-01  221.26  221.50  200.1800  201.09   41792052
8   2023-06-01  178.92  179.20  151.2700  169.78  107861239
9   2023-07-01  169.73  173.47  160.9400  168.86   46246755
10  2023-08-01  169.33  170.46  128.4800  138.50   63428091
11  2023-09-01  136.55  136.59  103.2700  105.80  108508711



          date   open    high      low  close    volume
0   2022-10-01  32.23  34.150  30.6900  33.61  81595594
1   2022-11-01  33.97  37.140  32.3900  37.12  69335007
2   2022-12-01  37.42  38.030  33.7500  34.63  61905105
3   2023-01-01  34.76  41.890  34.7100  41.82  66614800
4   2023-02-01  41.30  41.870  35.8150  36.39  61066743
5   2023-03-01  36.25  38.000  33.4237  36.06  71206939
6   2023-04-01  36.10  37.035  32.4000  33.11  51682018
7   2023-05-01  33.08  33.795  29.4100  29.44  69608354
8   2023-06-01  29.54  32.400  29.0050  31.81  76215103
9   2023-07-01  31.86  36.255  30.7800  36.06  69942848
10  2023-08-01  36.00  37.200  33.5718  34.92  56569981
11  2023-09-01  35.19  35.855  33.3000  35.47  59894494

/var/folders/s4/hzmf21cd0px0c1hfdy8d1zl80000gp/T/ipykernel_1920/3264532772.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sp_data.append(bar_data);
/var/folders/s4/hzmf21cd0px0c1hfdy8d1zl80000gp/T/ipykernel_1920/3264532772.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sp_data.append(bar_data);

          date   open    high      low  close     volume
0   2022-10-01  34.83  41.200  33.4900  40.48   98495069
1   2022-11-01  40.96  42.380  38.3200  42.38   78636874
2   2022-12-01  42.51  42.760  37.7500  39.37   75861665
3   2023-01-01  39.50  43.470  39.1950  43.32   82611413
4   2023-02-01  43.00  44.820  41.3200  41.76   61537403
5   2023-03-01  41.54  41.840  28.7901  30.37  232175790
6   2023-04-01  30.61  31.575  27.9000  30.94  176412280
7   2023-05-01  29.92  30.050  23.3700  25.78  212944290
8   2023-06-01  26.12  29.220  25.2000  26.08  144976300
9   2023-07-01  26.33  33.470  25.2300  31.84  137592150
10  2023-08-01  31.66  31.970  26.4500  28.13  117805360
11  2023-09-01  28.35  28.970  25.4050  26.80  100191594



          date    open    high     low   close    volume
0   2022-10-01   82.68   93.65   81.98   93.28  17868473
1   2022-11-01   93.25  102.11   88.91  101.09  18194022
2   2022-12-01  101.98  105.51   98.37   99.81  17268762
3   2023-01-01  100.45  106.39   99.01  103.81  17875991
4   2023-02-01  103.63  107.11  102.00  104.33  20324677
5   2023-03-01  104.31  107.86   93.10  101.06  21634263
6   2023-04-01  100.90  102.33   95.05   97.67  15726559
7   2023-05-01   97.81  100.15   92.19   92.63  23564621
8   2023-06-01   92.92  110.55   91.89  109.67  23565008
9   2023-07-01  109.42  119.42  107.37  118.44  20136677
10  2023-08-01  118.36  119.70  110.35  112.52  14356758
11  2023-09-01  113.57  113.85  105.32  106.27  14622808

/var/folders/s4/hzmf21cd0px0c1hfdy8d1zl80000gp/T/ipykernel_1920/3264532772.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sp_data.append(bar_data);
/var/folders/s4/hzmf21cd0px0c1hfdy8d1zl80000gp/T/ipykernel_1920/3264532772.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sp_data.append(bar_data);

In [13]:
sp_data.head()

Empty DataFrame
Columns: []
Index: []